/* common style  */

* {
  font-family: "Inter", sans-serif;
}
.font-light {
  color: #8987a1;
}
.font-dark {
  color: #252432;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  width: 270px;
  padding: 15px;
  border: none;
}

/* nav style  */

header {
  max-width: 1140px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 45px;
  font-weight: 400px;
}
/* banner style  */
.banner-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 60px;
}

.banner-left h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 15px;
}
.span {
  color: #e95a08;
}

/* main cards style  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.contaier-description h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contaier-description p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  padding: 0 60px;
}

.cards p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #111111;
  font-weight: 500px;
}
.cards h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #111111;
  font-weight: 500px;
}

/* latest deals  */
.letest-deals {
  padding: 60px 0;
}
.letest-deals h1 {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}
.letest-deals p {
  display: flex;
  justify-content: center;
  text-align: center;
}

.shop-now {
  display: grid;
  grid-template-columns: repeat(2, fr);
  gap: 20px;
}

.box-one {
  background-image: url(../assets/deal-bloom.png);
  width: 367px;
  height: 200px;
  background-size: cover;
}

.box-one p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.box-one h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #ffffff;
}
.box-Two {
  background-image: url(../assets/deal-ana.png);
  width: 100%;
  height: 200px;
  background-size: cover;
}

.box-Two p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.box-Two h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #ffffff;
}
.box-Three {
  background-image: url(../assets/deal-zabo.png);
  width: 367px;
  height: 200px;
  background-size: cover;
}

.box-Three p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.box-Three h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #ffffff;
}

/* shop  */
.shop-now-container {
  display: flex;
}

.shop-left .img-one {
  background-image: url(../assets/deal-bloom.png);
  width: 360px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.img-one-text {
  text-align: center;
  color: #ffffff;
  padding: 50px;
}
.img-one-text {
  font-size: 20px;
  font-weight: bold;
}

.img-one-text h5 {
  text-decoration: underline;
  font-weight: bold;
}
.shop-left .img-two {
  background-image: url(../assets/deal-ana.png);
  width: 360px;
  height: 200px;
  border-radius: 15px;
}
.img-two-text {
  text-align: center;
  color: #ffffff;
  padding: 50px;
}
.img-two-text {
  font-size: 20px;
  font-weight: bold;
}

.img-two-text h5 {
  text-decoration: underline;
  font-weight: bold;
}

/* shop right  */
.shop-right {
  background-image: url(../assets/deal-zabo.png);
  width: 750px;
  height: 420px;
  margin-left: 20px;
  border-radius: 15px;
}
.shop-right-text {
  text-align: center;
  color: #ffffff;
  padding: 150px;
}
.shop-right-text p {
  font-size: 30px;
  font-weight: bold;
}
.shop-right-text h5 {
  font-size: 20px;
  text-decoration: underline;
}

/* input pannel  */
.colorful-branch-container {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  width: 100%;
  height: 400px;
  margin: 30px 0;
}
.colorful-branch-container h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  padding-top: 100px;
  margin-bottom: 10px;
}
.inp-btn-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp-btn-parent input {
  width: 500px;
  padding: 14px;
}
