/* common style  */

* {
  font-family: "Inter", sans-serif;
}
.font-light {
  color: #8987a1;
}
.font-dark {
  color: #252432;
}
.btn {
  background-color: #e95a08;
  color: #ffffff;
  width: 100%;
  padding: 15px;
  border: none;
}
.btn-2{
  background-color: #e95a08;
  color: #ffffff;
  width: 270px;
  padding: 15px;
  border: none;
}

/* nav style  */

header {
  max-width: 1140px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 45px;
  font-weight: 400px;
}
.nav-removal-items {
  display: flex;
  gap: 30px;
}
/* banner style  */
.banner-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 60px;
}

.banner-left h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 15px;
}
.span {
  color: #e95a08;
}

/* main cards style  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 20px;
}
.cards img {
  width: 100%;
}


.contaier-description h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contaier-description p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  padding: 0 60px;
}

.cards p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #111111;
  font-weight: 500px;
}
.cards h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #111111;
  font-weight: 500px;
}

/* flowers plant contaier  */
.fp-contier {
  display: flex;
  margin-top: 150px;
  position: relative;
}

.badge img{
  width: 280px;
  height: 280px;
  position:absolute;
  top: -130px;
  left: 360px;
  transition: transform ease 7s;
}
.badge img:hover {
  transform:  rotate(360deg);
}

.fp-text h1 {
  font-size: 60px;
  font-weight: bold;
  padding-top: 20px;
}
.fp-text {
  margin-left: 50px;
}

.fp-text-description {
  font-size: 22px;
}
/* latest deals  */
.letest-deals {
  padding: 60px 0;
}

.letest-deals h1 {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}
.letest-deals p {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* .shop-now {
  display: grid;
  grid-template-columns: repeat(2, fr);
  gap: 20px;
}

.box-one {
  background-image: url(../assets/deal-bloom.png);
  width: 367px;
  height: 200px;
  background-size: cover;
}

.box-one p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.box-one h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #ffffff;
}
.box-Two {
  background-image: url(../assets/deal-ana.png);
  width: 100%;
  height: 200px;
  background-size: cover;
}

.box-Two p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.box-Two h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #ffffff;
}
.box-Three {
  background-image: url(../assets/deal-zabo.png);
  width: 100%;
  height: 200px;
  background-size: cover;
}

.box-Three p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.box-Three h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #ffffff;
} */

/* shop  */
.shop-now-container {
  display: flex;
}
 /* .shop-left  */
.shop-left .img-one {
  background-image: url(../assets/deal-bloom.png);
  width: 365px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.img-one-text {
  text-align: center;
  color: #ffffff;
  padding: 50px;
}
.img-one-text {
  font-size: 20px;
  font-weight: bold;
}

.img-one-text h5 {
  text-decoration: underline;
  font-weight: bold;
}
.shop-left .img-two {
  background-image: url(../assets/deal-ana.png);
  width: 365px;
  height: 200px;
  border-radius: 15px;
}
.img-two-text {
  text-align: center;
  color: #ffffff;
  padding: 50px;
}
.img-two-text {
  font-size: 20px;
  font-weight: bold;
}

.img-two-text h5 {
  text-decoration: underline;
  font-weight: bold;
}

/* shop right  */
.shop-right {
  background-image: url(../assets/deal-zabo.png);
  width: 750px;
  height: 420px;
  margin-left: 20px;
  border-radius: 15px;
}
.shop-right-text {
  text-align: center;
  color: #ffffff;
  padding: 150px;
}
.shop-right-text p {
  font-size: 2rem;
  font-weight: bold;
}
.shop-right-text h5 {
  font-size: 1.5rem;
  text-decoration: underline;
}

/* input pannel  */
.colorful-branch-container {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  width: 100%;
  height: 400px;
  margin: 30px 0;
}
.colorful-branch-container h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  padding-top: 100px;
  margin-bottom: 10px;
}
.inp-btn-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp-btn-parent input {
  width: 500px;
  padding: 14px;
}

/* footer  */
.footer-pannel {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.pannel-1 {
  width: 250px;
  font-size: 20px;
}
.pannel-4 {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

/* mobile responsive  */
@media screen and (max-width: 576px) {
  .navbar {
    margin: 0 20px;
  }
  .nav-items {
    padding: 0;
    margin: 0;
  }
  .nav-removal-items {
    display: none;
  }

  .banner-container {
    flex-direction: column-reverse;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .fp-contier, {
    flex-direction: column;
  }
  .badge img {
    visibility: hidden;
  }
  .fp-contier {
    flex-direction: column;
  }
  .fp-left img {
    width:365px;
    padding: 0 1rem;
  }

  /* shop now  */
  .shop-now-container{
  flex-direction: column;
  padding: 0 15px;
  }

  .shop-right {
    width: 365px;
    height: 200px;
    margin-left: 0;
    margin-top: 10px;
  }
  .shop-right p {
    font-size: 20px;
  }
  .shop-right-text {
    padding: 0;
  }

  .colorful-branch-container h1 {
    font-size: 16px;

  }
  .inp-btn-parent {
    padding: 2rem;
  }
 .footer-pannel {
  flex-direction: column;
 }